/**
 * Topic base styles
 */
 
/* Calendar ***********************************************/
.ICalendarEventTime {
    font-weight: 600;
    margin-bottom: 0px;    
}

/* ITiles *************************************************/
.ITiles {
    --bs-gutter-x: 0.3rem;
    --bs-gutter-y: 0.3rem;
}
.ITile {
    font-size: calc(0.6vh + 0.6vw);
    text-align: center;
}

.IClickable {
    cursor: pointer;
}
