/***
 * Styles of the insta template.
 */
:root {
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-bottom: 0.4em;
}
h5, h6 {
    font-weight: 400;    
}
p {
    margin-bottom: 0.9em;
    line-height: 1.4;
}

/* CHeader / CNavbar **************************************/

.CHeader {
    background-color: var(--common-header-bg);
    color: var(--common-header-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}
.CHeader h1 {
    margin: 0;
    line-height: 1;
}
.CNavbar {
    --bs-navbar-padding-y: 0rem;
    margin-bottom: 0rem;
    justify-content: flex-end;
}
.CNavbar ul {
    margin-right: auto;
}
.CNavbar .btn {
    --bs-btn-bg: #333338;
}
/* CSection ***********************************************/

.CSection {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* ITopicBio **********************************************/

.ITopicBio {
    color: var(--common-accent-color);
    font-size: calc(1.325rem + .9vw);
    font-weight: 300;
    text-align: center;
}
.ITopicBio p,
.ITopicBio dl,
.ITopicBio ol,
.ITopicBio ul {
    line-height: 1.2;
    margin-bottom: 0.9em;
}
.ITopicBio h1,
.ITopicBio h2,
.ITopicBio h3,
.ITopicBio h4,
.ITopicBio h5 {
    margin-bottom: 0.4em;
}

.IContent {
}

.IContent .carousel {
    max-width: 380px;
}

.IContent img {
    border-radius: 4px;
}

@media (max-width: 768px) {
  .IContent .carousel {
    margin-bottom: 25px;
  }
}

