@font-face {
  font-family: 'RobotoC';
  font-weight: 100;
  font-style: normal;
  src: url('../common/fonts/RobotoCondensed/RobotoCondensed-Light.ttf');
}
@font-face {
  font-family: 'RobotoC';
  font-weight: 400; /* normal */
  font-style: normal;
  src: url('../common/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: 'RobotoC';
  font-weight: 500;
  font-style: normal;
  src: url('../common/fonts/RobotoCondensed/RobotoCondensed-Medium.ttf');
}
@font-face {
  font-family: 'RobotoC';
  font-weight: 700; /* bold */
  font-style: normal;
  src: url('../common/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf');
}
@font-face {
  font-family: 'RobotoC';
  font-weight: normal;
  font-style: italic;
  src: url('../common/fonts/RobotoCondensed/RobotoCondensed-Italic.ttf');
}
@font-face {
  font-family: 'RobotoC';
  font-weight: bold;
  font-style: italic;
  src: url('../common/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf');
}
