@font-face {
  font-family: 'Ubuntu';
  font-weight: normal;
  font-style: normal;
  src: url('../common/fonts/Ubuntu/Ubuntu-R.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: normal;
  src: url('../common/fonts/Ubuntu/Ubuntu-M.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-style: normal;
  src: url('../common/fonts/Ubuntu/Ubuntu-B.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-style: italic;
  src: url('../common/fonts/Ubuntu/Ubuntu-BI.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-weight: normal;
  font-style: italic;
  src: url('../common/fonts/Ubuntu/Ubuntu-RI.ttf');
}
