.RootWindow {
    background-color: #2e2e2e;
    overflow: hidden; /*visible;*/
}

.btn:hover {
    margin-top: -1px;
}

.Badged:before, .Tagged:after {
    z-index: 1;
}
.Badged:before {
    background: #cf6305;
}
.Tagged:after {
    color: var(--basic-progress-color);
}
.Labeled:before {
    /*background: #2e2e2e;*/
}

.HelpPage h1, h2, h3, h4, h5 {
    margin-top: 0px;
    margin-bottom: 0.5em;
}
.HelpPage h2, h3 {
    border-bottom: 1px solid #505050;
}
.HelpPage p {
    margin-top: 0.5em;
}
.HelpPage hr {
    border-top: 1px solid #505050;
    border-bottom: none;
    overflow: visible;    
}

.MessageCard {
    background-color: #252525;
    border-top: 1px solid #444444;
    border-radius: 6px;
}
/*
.MessageCard {
    //color: darken($font_color, 5%);
    //background-color: darken($bg1_color, 3%);
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    border-color: $separator_color;
    //border-radius: 8px;
    //cursor: pointer;
}

.ImageBtn {
    background-color: $light_bg_color;
    padding: 5px;
}
*/
.NeedsBtnBad {
    border: 1px solid #d34242;
}
.NeedsBtnGood {
    border: 1px solid #38a331;
}
.AnnotationBtn:after {
    color: #e7763f;
}
